:root {
  --bg: #ffffff;
  --text: #5A2600;
  --muted: rgba(0,0,0,0.5);
  --nav: #ffffff;
  --border: #e5e7eb;
  --accent: #FF7A00;
  --accent-hover: #f89233;
}

[data-theme="dark"] {
  --bg: #3a3a3a;
  --text: #f1f5f9;
  --muted: rgba(255,255,255,0.6);
  --nav: #111111;
  --border: #262626;
  --accent: #FF7A00;
  --accent-hover: #f89233;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 32px;
  border-radius: 16px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  background: var(--nav);
  color: var(--text);
}

[data-theme="dark"] .modal-content {
  box-shadow: 0 10px 30px rgba(0,0,0,.6);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 32px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.modal-content {
  animation: zoomIn .25s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-texts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-texts h2{
    font-family: 'Poppins';
    font-size: 22px;
}

.modal-texts p{
    font-family: 'Poppins';
    font-size: 14px;
}

.contact-input{
  width: 90%;
    height: 38px;
    border-radius: 8px;
    padding-left: 12px;
    border: 0.1px solid rgba(128, 128, 128, 0.808);
}

input::placeholder{
    font-family: 'Montserrat';
    font-size: 12px;
}

.submit-btn{
    height: 33px;
    border-radius: 8px;
    background: var(--accent);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat';
    border: none;
}

.submit-btn:hover{
  background: var(--accent-hover);
}

@keyframes zoomIn {
  from {
    transform: scale(.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Mobile Menu */

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
  z-index: 9999;
}

.menu-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.menu-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  max-width: 360px;
  height: 100%;
  padding: 24px;
  transform: translateX(100%);
  transition: transform .3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--nav);
  color: var(--text);
  gap: 24px;
  justify-content: space-between;
}

.menu-panel.open {
  transform: translateX(0);
}

.menu-head{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header img{
  width: 50px;
  height: 50px;
}

.menu-header h2{
  font-size: 14px;
  font-family: 'Poppins';
}


.menu-close {
  position: absolute;
  top: 6px;
  right: 16px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

[data-theme="dark"] .menu-close {
  color: #ffffff;
}

.menu-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.menu-links a{
    text-decoration: none;
    color: var(--text);
}

.menu-links a:hover{
    color: var(--accent-hover);
    transition: 0.2s ease-in;
}

.menu-cta{
    height: 43px;
    width: 70%;
    border-radius: 8px;
    background: var(--accent);
    color: var(--nav);
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 0.5;
    border: none;
}

[data-theme="dark"] .contact-input{
    border: 01.px solid var(#ffffff);
    background: transparent;
}

@media (max-width:415px) {
  .modal-texts h2{
    font-size: 20px;
  }
}

/*  */

.footer{
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  color: var(--nav);
  gap: 24px;
  margin-top: 85px;
  background-color: #5A2600;
}

.footer-logo{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 10px 0px 25px;
}

.f-btn{
  background-color: var(--nav);
  color: #5A2600;
  height: 60px;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  width: 80%;
  align-self: flex-start;
  cursor: pointer;
  border: none;
}

.f-cs{
  display: flex;
}

.footer-contact{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 10px 0px 10px;
}

.footer h3{
  color: var(--nav);
  font-family: 'Poppins';
  font-size: 28px;
}

.footer p, a, i{
  color: #e5e7ebab;
  text-decoration: none;
}

.footer-pages{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-social{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 10px 0px 10px;
}

.social-m{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.media-icon{
  display: flex;
  gap: 8px;
}

.footer-c{
  padding: 0px 10px 0px 10px;
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.footer-logo img{
  /* position: absolute; */
  width: 55px;
  height: 55px;
}

.flogo{
  display: flex;
  align-items: center;
}

.flogo h4{
  text-align: start;
  font-size: 14px;
  font-weight: 550;
}

.f-cs{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-logo,
.footer-contact,
.footer-social,
.footer-c,
.f-cs {
  width: auto; /* yoki umuman yozma */
}

.footer-hr{
  width: 90%;
  border: 2px solid --nav;
  align-self: center;
}

.copyright{
  padding: 5px 70px 5px 70px;
  display:   flex;
  justify-content: space-between;
}

.footer-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer a:hover{
  color: var(--nav);
}

.footer i:hover{
  color: var(--nav);
}

.footer span{
  color: var(--nav);
}

[data-theme="dark"] .flogo h4{
  color: #ffffff;
} 

[data-theme="dark"] .footer h3{
  color: #ffffff;
}

[data-theme="dark"] .footer button{
  background-color: #ffffff;
}

[data-theme="dark"] .footer span{
  color: #ffffff;
}

[data-theme="dark"] .footer a:hover{
  color: #ffffff;
  transition: 0.1s ease-in;
}

[data-theme="dark"] .footer i:hover{
  color: #ffffff;
  transition: 0.1s ease-in;
}

[data-theme="dark"] .f-btn:hover{
  background-color: #e9fdb0;
  transition: 0.2s ease-in;
}

@media (max-width: 992px){
  .f-btn{
    font-size: 14px;
    height: 55px;
  }
  .footer h3{
    font-size: 25px;
  }
  .footer-content {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .copyright{
    flex-direction: column;
    text-align: center;
    gap: 14px;
  }
}

@media (max-width: 576px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .f-btn {
    width: 100%;
    align-self: center;
  }
  .social-m{
    text-align: center;
    align-items: center;
  }
}

/*  */

.top-notification {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  background: #2f855a;
  color: #fff;
  padding: 14px 26px;
  border-radius: 14px;

  font-size: 15px;
  font-weight: 500;

  z-index: 100000;
  pointer-events: none;

  animation: slideDown 0.35s ease, fadeOut 0.35s ease 2.6s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}